body,html{
	height:100%;
	width:100%;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
}

.logo {
	font-family: 'Roboto Condensed', sans-serif;
	height: 60px;
	background: #003366;
	width: 100%;
	color: white;
	font-size: 50px;
	text-align: left;
	line-height: 58px;
	overflow: hidden;
	padding-left: 10px;
}

.course-search {
	font-size: 30px !important;
	border-radius: 0px !important;
	max-width: 100%; 
	top: 0;
	height: 60px;
	float: right;
	position: absolute;
	padding-right: 2px;
	right:0;
	z-index: 99;
}

.course-container {
	vertical-align: top;
	width: 27%;
	height: 100% !important;
	min-height: 600px;
	background: #FFFBF5;
	right: 0;
	top: 0;
	position: absolute;
	margin-top: -1px;
	border: 1px solid #ba9e66;
}


.course {
	height: 100px;
	width: 100%;
	margin-top: 50px;
	right: 0;
	position: absolute;
	color: #fff;
	font-size: 40px;
	border: solid #fff 5px;
	overflow: hidden;
	line-height: 90px;
}
#mTitle {
	text-align: center;
}

#course2{
	top: 19%;
}

#course3{
	top: 34%;
}

#course4{
	top: 49%;
}

#course5{
	top: 64%;
}

#course6{
	top: 79%;
}

#course1 {
	top: 4%;
}


th, td {
	font-size: 20px !important;
	line-height: 65px;
	text-align: center;
	margin-left: 15% !important;
}

th {
	height: 18px !important;
}

.planner-table {
	margin-left: -14%;
	border-radius: 5px;
	float: left;
	margin-bottom: 0px !important;
	z-index: -1;
	min-width: 800px;

}

html .ui-autocomplete {
height: 200px;
overflow: auto;
}

.course-id {
	word-wrap: break-word;
	text-align: center;
}

.course-delete {
	position: absolute;
	color: white;
	font-size: 15px;
	line-height: 25px;
	height: 25px !important;
	width: 25px !important;
	text-align: center;
	left: 0;
	bottom: 0;
	background: inherit;
	border: none !important;
	color: #fff;
}

.course-info {
	position: absolute;
	color: white;
	font-size: 20px;
	line-height: 25px;
	height: 25px !important;
	width: 25px !important;
	text-align: center;
	border: none !important;
	left: 0;
	top: 0;
	background: inherit;
	color: #fff;
}

.cell {
    overflow:visible;
    line-height: 200px;
}
.overflow {
    width: 13%;
    font-size:18px;
    background: black;
    position:absolute;
    color:white;
    text-align: center;
    font-size: 22px;
    margin-top: -9px;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 10px;
}

.fifty{
	line-height: 47px;
	height: 47px;
}

.three{
	line-height: 168px;
	height: 168px;
}

.two{
	line-height: 112px;
	height: 112px;
}

.hourfifteen{
	line-height: 70px;
	height: 70px;
}

.quarter{
	margin-top: 3px !important;
}

.half{
	margin-top: 19px !important;
}

.threequarter{
	margin-top: 33px !important;
}

.ui-autocomplete .fl {
	float: left;
	margin-right: 2px;
}

.ui-autocomplete .fr {
	float: right;
	margin-left: 2px;
}

.ui-autocomplete .db {
	display: block;
}

.ui-item {
	font-size: 18px;
}

ul {
	right: 0;
	position: absolute;
	width: 100%;
}
